.DS_Store
node_modules/
.expo/
dist/
web-build/
expo-env.d.ts
.eas/
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
.metro-health-check*
npm-debug.*
yarn-debug.*
yarn-error.*
*.pem
.env
.env*.local
*.tsbuildinfo
/ios
/android
.artifacts/
